/* wallet-creation-step1.component.scss */
.bg-white {
  --ion-background-color: #ffffff;
  background-color: #ffffff;
}

.text-gray-900 {
  color: #1a202c;
}

.text-gray-700 {
  color: #4a5568;
}

.border-gray-400 {
  border-color: #a0aec0;
}

.text-\[\#00B6E9\] {
  color: #00b6e9;
}

.mb-30 {
  margin-bottom: 7.5rem; /* 120px */
}

.text-sm\! {
  font-size: 0.875rem !important;
}
