<!-- wallet-creation.component.html -->
<ion-content class="bg-white">
  <content class="flex flex-col h-full">
    <div
      [ngClass]="currentStep > 1 ? 'h-full' : 'mt-auto '"
      class="flex flex-col ion-padding-horizontal"
    >
      <!-- Step 1: Welcome -->
      @if (currentStep === 1) {
        <cr-wallet-creation-step1
          [termsAgreed]="termsAgreed"
          (termsAgreedChange)="termsAgreed = $event"
        ></cr-wallet-creation-step1>
      }

      <!-- Step 2: Security -->
      @if (currentStep === 2) {
        <cr-wallet-creation-step2
          [currentStep]="currentStep"
          [useDeviceAuth]="useDeviceAuth"
          (useDeviceAuthChange)="useDeviceAuth = $event"
          (stepReady)="onStep2ReadyChange($event)"
        ></cr-wallet-creation-step2>
      }

      <!-- Step 3: Recovery Phrase -->
      @if (currentStep === 3) {
        <cr-wallet-creation-step3
          [currentStep]="currentStep"
          [recoveryPhrase]="recoveryPhrase"
          (copyToClipboard)="copyToClipboard()"
        ></cr-wallet-creation-step3>
      }

      <!-- Navigation Button -->
      <cr-button
        expand=""
        [disabled]="isMainButtonDisabled()"
        (click)="handleMainButtonClick()"
        class="block text-lg font-medium py-4 rounded-lg"
        [ngClass]="{
          'opacity-50': isMainButtonDisabled(),
          'mt-auto': currentStep === 2 || currentStep === 3,
        }"
        [fullwidth]="true"
      >
        @if (currentStep === totalSteps) {
          Finish
        } @else {
          Continue
        }
      </cr-button>
    </div>
  </content>
</ion-content>
