/* wallet-creation-step3.component.scss */
.bg-white {
  --ion-background-color: #ffffff;
  background-color: #ffffff;
}

.text-gray-900 {
  color: #1a202c;
}

.text-gray-700 {
  color: #4a5568;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.border-gray-300 {
  border-color: #e2e8f0;
}

.text-sm\! {
  font-size: 0.875rem !important;
}

.text-\[\#00B6E9\] {
  color: #00b6e9;
}
